<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('header') -%>
<body>
    <%- include('navbar') -%>
    <div class="dashboard_tab_nav">
		<div class="dashboard_tab_row">
			<ul class="tabs">
				<!-- <li class="tab col s1"><a href="#home" class="active">알림판</a></li> -->
				<!-- <li class="tab col s1"><a href="#room_list">방 목록</a></li> -->
				<li class="empty_tab"></li>
				<li class="tab"><a href="#reservation">예약 현황</a></li>
				<!-- <li class="tab col s2"><a href="#my_houses">내 집 목록</a></li> -->
				
				<li class="tab"><a href="#profile">프로필</a></li>
				<li class="tab"><a href="#setting">환경 설정</a></li>
			</ul>
		</div>
	</div>
	<div id="reservation" class="dashboard_content">
		<div class="pending_list">
			<div class="title_txt"> 예약 요청 목록 </div>
			<% if(typeof pendingRs !== 'undefined' && pendingRs.length > 0) { %>
				<!-- <ul class="collapsible" data-collapsible="accordion"> -->
				<% for(var i=0; i <pendingRs.length; i++) { %>

				  <div class="card horizontal">
			    	<div class="card-image" style="background-image:url(<%-pendingRs[i].main_image-%>)">
			    	</div>
				    <div class="card-content">
						<a href="/s/<%-pendingRs[i].addr_dong-%>/<%-pendingRs[i].name-%>/<%-pendingRs[i].id-%>">
			    			<div class="main_txt text_thick"><%- pendingRs[i].name -%></div>
				    	</a>
			    		<div class="sub_txt"><%- pendingRs[i].addr_summary -%></div>

			    		<div class="sub_txt">
				    		<div class="">
				    			체크인: <%- pendingRs[i].checkin -%>
				    		</div>
				    		<div class="">
						    	체크아웃: <%- pendingRs[i].checkout -%>
				    		</div>
				    		<div class="price_total">총 금액: &#8361;<%- pendingRs[i].price_total -%></div>
				    	</div>
				    </div>
				  </div>
				<% } %>
			<% } else { %>
				<div style="padding: 10px 0">
					<div class="main_txt"> 현재 예약 요청된 방이 없습니다.</div>
					<div class="main_txt"><a href="/" style="color:#2F6D81">방 둘러보기</a></div>
				</div>
			<% } %>
		</div>
		<div class="confirmed_list">
			<div class="title_txt"> 예약 확정 목록 </div>
			<% if(typeof confirmedRs !== 'undefined' && confirmedRs.length > 0) { %>
				<% for(var i=0; i <confirmedRs.length; i++) { %>

				  <div class="card horizontal">
			    	<div class="card-image">
						<a href="/homes/<%-confirmedRs[i].name-%>/<%-confirmedRs[i].id-%>">
				    		<img src='<%- confirmedRs[i].main_image -%>' style="width: 140px; height: 140px">
				    	</a>
			    	</div>
				    <div class="card-content">
				    	<div>
							<a href="/homes/<%-confirmedRs[i].name-%>/<%-confirmedRs[i].id-%>">
				    			<div class="text_thick" style="color:#2F6D81"><%- confirmedRs[i].name -%></div>
					    	</a>
				    		<div class="sub_txt text_thick"><%- confirmedRs[i].addr_summary -%></div>

				    		<div class="sub_txt">
					    		<div class="">
					    			체크인: <%- confirmedRs[i].checkin -%>
					    		</div>
					    		<div class="">
							    	체크아웃: <%- confirmedRs[i].checkout -%>
					    		</div>
					    		<div style="color:#F14132">&#8361;<%- confirmedRs[i].price_total -%></div>
					    	</div>
				    	</div>
				    </div>
				  </div>
				<% } %>
			<% } else { %>
				<div style="padding: 10px 0">
					<div class="main_txt"> 현재 예약 확정된 방이 없습니다.</div>
				</div>
			<% } %>
		</div>
	</div>

	<% if(false) { %>	
	<div id="my_houses" class="dashboard_content" style="overflow:scroll">
		<% if(typeof hostingHs !== 'undefined' && hostingHs.length > 0) { %>
			<ul class="collapsible" data-collapsible="accordion">
				<% for(var i=0; i <hostingHs.length; i++) { %>
			    <li>
			      <div class="collapsible-header"><i class="material-icons">home</i><%- hostingHs[i].name -%></div>
			      <div class="collapsible-body">
			      		<div class='collapsible-item'>
							<a href="/homes/<%-hostingHs[i].name-%>/<%-hostingHs[i].id-%>"> 집 포스팅 링크</a>
						</div>
			      		<div class='collapsible-item' style='float:right'>
				    		<img src='<%- hostingHs[i].main_image -%>' style="width: 110px; height: 110px">
						</div>

				    	<div class='collapsible-item'>주소: <%-hostingHs[i].addr_summary-%></div>
				    	<div class='collapsible-item'>상세 주소: <%-hostingHs[i].addr_full-%></div>
				    	<div class='collapsible-item'>오시는길: <%-hostingHs[i].addr_direction-%></div>
				    	<div class='collapsible-item'>설명: <%-hostingHs[i].description-%></div>
				    	<div class='collapsible-item'>숙박 인원: <%-hostingHs[i].num_guest-%></div>
				    	<div class='collapsible-item'>침실 수: <%-hostingHs[i].num_bedroom-%></div>
				    	<div class='collapsible-item'>침대 수: <%-hostingHs[i].num_bed-%></div>
				    	<div class='collapsible-item'>욕실 수: <%-hostingHs[i].num_bathroom-%></div>
				    	<div class='collapsible-item'>월세: <%-hostingHs[i].monthly_rate-%></div>
				    	<div class='collapsible-item'>보증금: <%-hostingHs[i].deposit-%></div>
				    	<div class='collapsible-item'>청소비: <%-hostingHs[i].cleaning_fee-%></div>
				    	<div class='collapsible-item'>공과금(관리비): <%-hostingHs[i].utility_fee-%></div>
				    	<div class='collapsible-item'>이용 규칙: <%-hostingHs[i].house_policy-%></div>


<!-- id, name, addr_full, addr_summary, addr_direction, description, num_guest, num_bedroom, num_bed, num_bathroom, monthly_rate, deposit, cleaning_fee, utility_fee, main_image, house_policy, latitude, longitude, status, -->

			      </div>
			    </li>
			<% } %>
		</ul>
		<% } else { %>
				<div class="title_txt"> 현재 등록하신 방이 없습니다.</div>
				<div class="title_txt"> 방 등록을 원하시면 빌림에 문의해주시기 바랍니다.</div>
				<div class="title_txt text_thick"><a href="/be-host_kor" style="color:#2F6D81">관리문의하기</a></div>
		<% } %>
	</div>
	<% } %>

	<div id="profile" class="dashboard_content">
		<div class="title_txt"> 준비중입니다.</div>
	</div>

	<div id="setting" class="dashboard_content">
		<div class="title_txt"> 준비중입니다.</div>
	</div>

    <!-- footer -->
	<%- include('footer') -%>
</body>
</html>
