<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('header') -%>
<body>
    <%- include('navbar') -%>
    <div class="dashboard_tab_nav">
		<div class="dashboard_tab_row">
			<ul class="tabs">
				<!-- <li class="tab col s1"><a href="#home" class="active">알림판</a></li> -->
				<!-- <li class="tab col s1"><a href="#room_list">방 목록</a></li> -->
				<li class="empty_tab"></li>

				<li class="tab"><a href="#profile">프로필</a></li>

				<li class="tab"><a href="#reservation">예약 현황</a></li>
				<!-- <li class="tab col s2"><a href="#my_houses">내 집 목록</a></li> -->
				
				<!-- <li class="tab"><a href="#setting">환경 설정</a></li> -->
			</ul>
		</div>
	</div>
	<div id="reservation" class="dashboard_content">
		<div class="pending_list">
			<div class="title_txt"> 예약 요청 목록 </div>
			<% if(typeof pendingRs !== 'undefined' && pendingRs.length > 0) { %>
				<!-- <ul class="collapsible" data-collapsible="accordion"> -->
				<% for(var i=0; i <pendingRs.length; i++) { %>

				  <div class="card horizontal">
			    	<div class="card-image" style="background-image:url(<%-pendingRs[i].main_image-%>)">
			    	</div>
				    <div class="card-content">
						<a href="/s/<%-pendingRs[i].addr_dong-%>/<%-pendingRs[i].name-%>/<%-pendingRs[i].id-%>">
			    			<div class="main_txt text_thick"><%- pendingRs[i].name -%></div>
				    	</a>
			    		<div class="sub_txt"><%- pendingRs[i].addr_summary -%></div>

			    		<div class="sub_txt">
				    		<div class="">
				    			체크인: <%- pendingRs[i].checkin -%>
				    		</div>
				    		<div class="">
						    	체크아웃: <%- pendingRs[i].checkout -%>
				    		</div>
				    		<div class="price_total">총 금액: &#8361;<%- pendingRs[i].price_total -%></div>
				    	</div>
				    </div>
				  </div>
				<% } %>
			<% } else { %>
				<div style="padding: 10px 0">
					<div class="main_txt"> 현재 예약 요청된 방이 없습니다.</div>
					<div class="main_txt"><a href="/">방 둘러보기</a></div>
				</div>
			<% } %>
		</div>
		<div class="confirmed_list">
			<div class="title_txt"> 예약 확정 목록 </div>
			<% if(typeof confirmedRs !== 'undefined' && confirmedRs.length > 0) { %>
				<% for(var i=0; i <confirmedRs.length; i++) { %>

				  <div class="card horizontal">
			    	<div class="card-image">
						<a href="/homes/<%-confirmedRs[i].name-%>/<%-confirmedRs[i].id-%>">
				    		<img src='<%- confirmedRs[i].main_image -%>' style="width: 140px; height: 140px">
				    	</a>
			    	</div>
				    <div class="card-content">
				    	<div>
							<a href="/homes/<%-confirmedRs[i].name-%>/<%-confirmedRs[i].id-%>">
				    			<div class="text_thick" style="color:#2F6D81"><%- confirmedRs[i].name -%></div>
					    	</a>
				    		<div class="sub_txt text_thick"><%- confirmedRs[i].addr_summary -%></div>

				    		<div class="sub_txt">
					    		<div class="">
					    			체크인: <%- confirmedRs[i].checkin -%>
					    		</div>
					    		<div class="">
							    	체크아웃: <%- confirmedRs[i].checkout -%>
					    		</div>
					    		<div style="color:#F14132">&#8361;<%- confirmedRs[i].price_total -%></div>
					    	</div>
				    	</div>
				    </div>
				  </div>
				<% } %>
			<% } else { %>
				<div style="padding: 10px 0">
					<div class="main_txt"> 현재 예약 확정된 방이 없습니다.</div>
				</div>
			<% } %>
		</div>
	</div>

	<% if(false) { %>	
	<div id="my_houses" class="dashboard_content" style="overflow:scroll">
		<% if(typeof hostingHs !== 'undefined' && hostingHs.length > 0) { %>
			<ul class="collapsible" data-collapsible="accordion">
				<% for(var i=0; i <hostingHs.length; i++) { %>
			    <li>
			      <div class="collapsible-header"><i class="material-icons">home</i><%- hostingHs[i].name -%></div>
			      <div class="collapsible-body">
			      		<div class='collapsible-item'>
							<a href="/homes/<%-hostingHs[i].name-%>/<%-hostingHs[i].id-%>"> 집 포스팅 링크</a>
						</div>
			      		<div class='collapsible-item' style='float:right'>
				    		<img src='<%- hostingHs[i].main_image -%>' style="width: 110px; height: 110px">
						</div>

				    	<div class='collapsible-item'>주소: <%-hostingHs[i].addr_summary-%></div>
				    	<div class='collapsible-item'>상세 주소: <%-hostingHs[i].addr_full-%></div>
				    	<div class='collapsible-item'>오시는길: <%-hostingHs[i].addr_direction-%></div>
				    	<div class='collapsible-item'>설명: <%-hostingHs[i].description-%></div>
				    	<div class='collapsible-item'>숙박 인원: <%-hostingHs[i].num_guest-%></div>
				    	<div class='collapsible-item'>침실 수: <%-hostingHs[i].num_bedroom-%></div>
				    	<div class='collapsible-item'>침대 수: <%-hostingHs[i].num_bed-%></div>
				    	<div class='collapsible-item'>욕실 수: <%-hostingHs[i].num_bathroom-%></div>
				    	<div class='collapsible-item'>월세: <%-hostingHs[i].monthly_rate-%></div>
				    	<div class='collapsible-item'>보증금: <%-hostingHs[i].deposit-%></div>
				    	<div class='collapsible-item'>청소비: <%-hostingHs[i].cleaning_fee-%></div>
				    	<div class='collapsible-item'>공과금(관리비): <%-hostingHs[i].utility_fee-%></div>
				    	<div class='collapsible-item'>이용 규칙: <%-hostingHs[i].house_policy-%></div>


<!-- id, name, addr_full, addr_summary, addr_direction, description, num_guest, num_bedroom, num_bed, num_bathroom, monthly_rate, deposit, cleaning_fee, utility_fee, main_image, house_policy, latitude, longitude, status, -->

			      </div>
			    </li>
			<% } %>
		</ul>
		<% } else { %>
				<div class="title_txt"> 현재 등록하신 방이 없습니다.</div>
				<div class="title_txt"> 방 등록을 원하시면 빌림에 문의해주시기 바랍니다.</div>
				<div class="title_txt text_thick"><a href="/be-host_kor" style="color:#2F6D81">관리문의하기</a></div>
		<% } %>
	</div>
	<% } %>

	<div id="profile" class="dashboard_content">
		<div class="title_txt title_container">
			<div>내 프로필</div>
			<div>
				<button id="profile_edit_btn" class="btn teal_btn_color">수정</button>
				<button id="profile_save_btn" class="btn red_btn_color">저장</button>
			</div>
		</div>
		<form id="edit_profile_form" method="post" enctype="multipart/form-data">

    		<div class="basic_info">
                <div class="chip">
                    <img src=" <%- user.profile_pic_url -%>">
                    <div id="lastname" class="editable"><%- user.lastname-%></div>
                    <div id="firstname" class="editable"><%- user.firstname-%></div>
                </div>
    		</div>
            <div class="other_info">
            	<div class="info_item">
            		<div class="info_title">이메일</div>
                	<div id="email" class="editable"><%- user.email-%></div>
            	</div>	
            	<div class="info_item">
            		<div class="info_title">핸드폰 번호</div>
                		<% if(user.phone_number) { %>
		                	<div id="phone_number" class="editable"><%- user.phone_number-%></div>
		                <% 	} else {%>
		                	<div id="phone_number" class="editable"></div>
	                	<% } %>
            	</div>	
            	<div class="info_item">
            		<div class="info_title">자기 소개</div>
                	<div id="about" class="editable"><%- user.about-%></div>
            	</div>	
<!--             	<div class="info_item">
            		<div class="info_title">핸드폰 번호</div>
                	<div class="editable"> <%- user.phone_number-%> </div>
            	</div>	 -->

            </div>
  		</form>
	</div>

<!-- 	<div id="setting" class="dashboard_content">
		<div class="title_txt"> 준비중입니다.</div>
	</div> -->

	<style type="text/css">
		.dashboard_content#profile input.profile_input {
		  background-color: ghostwhite;
		  border: 1px solid black;
		  border-radius: 1px;
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		  /*font-size: 18px;*/
		}

		.dashboard_content#profile input.profile_input:focus {
			border: 1px solid rgb(80, 87, 95) !important;
			box-shadow: none !important;
		}

		#toast-container {
		  top: 10% !important;
		  right: auto !important;
		  bottom: auto !important;
		  left: 40% !important;
		}

	</style>	

	<script>

	$(document).ready(function() {
		var save_btn = $('#profile_save_btn');
		var edit_btn = $('#profile_edit_btn');
		var form = $('#edit_profile_form');

		var user_data = <%- JSON.stringify(user) -%>;

		save_btn.css({
			display:'none'
		});

		edit_btn.click(function(event) {

			var i2 = $(this).data('i2') || 1; 
			switch(i2) {
				// create input field mode
				case 1:
					console.log(1)
					$(".editable").each(function(i) {
						$(this).html('<input class="profile_input" type="text" style="width:'+ $(this).width() +'px; font-size:'+ $(this).css('font-size') +'" name ="'+ $(this).attr('id') +'" value="' + $(this).html() + '"/>');
					})
				break;

				// undo mode
				case 2:
					console.log(2)

					$(".editable").each(function(i) {
						var field_name = $(this).attr('id');
						$(this).html(user_data[field_name]);
					});


					save_btn.css({
						display:'none'
					});

				break;
			}

			// to toggle edit button click
			i2++;
			if(i2>2) i2=1;
			$(this).data('i2',i2);

			// on text/select/file/checkbox input, re-able save button
			$(".profile_input").on('input change', function() {
				save_btn.css({
					display:'inline-block'
				});
			});
		});

		// save button onclick -> ajax update house
		save_btn.off('click');
		save_btn.click(function() {
			var form_data = new FormData(form[0]);
			console.log(form)
			$.ajax({
				type: 'POST',
				data: form_data,
				contentType: false,
				processData: false,
				// TODO: change this to actual URL
				url: 'http://localhost:3000/edit-profile',
				success: function() {
					Materialize.toast('성공적으로 업데이트 되었습니다.', 2000, 'blue rounded');

					save_btn.prop("disabled", true);
					setTimeout(function() {
						window.location.reload();
					}, 1000);
				},
				error: function(err) {
					console.log(err);
					Materialize.toast('업데이트에 문제가 생겼습니다. 잠시후 다시 시도해주세요.', 2000, 'red rounded');
					setTimeout(function() {
						window.location.reload();
					}, 1000);					
				}
			});
		});
	});

		// $(document).ready(function() {
		// 	$(".editable").not("[id*='id']").click(function(event) {
		// 		if($(event.target).attr('class')!="profile_input") {
		// 			var currElem = $(this);
		// 			var val = $(this).html();
		// 			var width = $(this).width();
		// 			var fontsize = $(this).css('font-size');
		// 			var id = (currElem.attr('id'));
		// 		    updateVal(currElem, width, fontsize, val, id);
		// 		}
		// 	});
		// 	// $("table td [id*='id']").off('dblclick');
		// });

		// function updateVal(currElem, width, fontsize, val, id) {
		// 	$(document).off('click');

		// 	console.log(val)

		// 	// create input box with original value and focus on it
		// 	$(currElem).html('<input class="profile_input" type="text" style="width:'+ width +'px; font-size:'+ fontsize +'"/>');
		// 	$(currElem).find('input').val(val);

		// 	$(".profile_input").focus();

	    //   	$(document).click(function () { 
	    //   		// proceed when user clicks outside of the table cell
	    //   		if($(event.target).attr('class')!="newInput") {
	    //   			// if the value has changed, call ajax to update given table
	    //   			if($(".newInput").val() != val) {

	    //   				var data = {};
	    //   				data.new_val = $(".newInput").val();
	    //   				data.id = id; 
	    //   				$.ajax({
	    //   					type: 'POST',
	    //   					data: JSON.stringify(data),
	    //   					contentType : 'application/json',
	    //   					url: 'http://localhost:3000/admin/updateTable',
	    //   					success: function() {
	    //   						console.log('update success');
	    //   					},
	    //   					error: function(err) {
	    //   						console.log("ajax error")

	    //   						// var snackbarContainer = document.querySelector('#admin_toast');
	    //   						// var data = {message: '입력 포맷이 잘못되었습니다. 다시 시도해 주세요.'}
     //  						 //    snackbarContainer.MaterialSnackbar.showSnackbar(data);
	    //   						alert("입력 포맷이 잘못되었습니다. 다른 예시들을 참고해주세요.\n날짜면 0000-00-00, true/false는 그대로 true 혹은 false를 입력해주시기 바랍니다.");
	    //   						location.reload();
	    //   					}
	    //   				});
	    //   			}
	    //   			// remove input box and any white spaces
	    //   			$(currElem).html($(".newInput").val().trim());
	    //     		$(document).off('click');
	    //   		}
		  	// });
		// }

	</script>

    <!-- footer -->
	<%- include('footer') -%>
</body>
</html>
