<!DOCTYPE html>
<html>
  <%- include('header') -%>

  <!-- swiper js,css -->
  <link rel="stylesheet" href="/swiper/css/swiper.min.css">
  <script src="/swiper/js/swiper.jquery.min.js"></script>
  <!-- else  swiper.min.js -->

  <!-- Star rating js, css -->
  <script src="/jquery_rating/jquery.barrating.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="/jquery_rating/themes/fontawesome-stars-o.css">

  <!-- Date picker js,css -->
  <link rel="stylesheet" href="/flat_pickr/themes/material_red.css">
  <script src="/flat_pickr/flatpickr.min.js"></script>

  <!-- Moment js -->
  <script src="/moment/moment.min.js"></script> 

  <!-- Mobile detect js -->
  <script src="/mobile_detect/mobile-detect.min.js"></script>

  <script>
      var md = new MobileDetect(window.navigator.userAgent);
      var device = "desktop"; 
      if(md.mobile()) {
      	device = "mobile";
      }
  </script>

  <style>
  </style>


  <style>
	section#house_pics {
		background-color: rgba(42, 39, 48, 1);
		padding: 0;
	}

  	section#house_pics .swiper-container {
  		height: 240px;
  	}

  	section#house_pics .swiper-slide {
  		background-position: center;
  		background-size: contain;
  		background-repeat: no-repeat;
  	}

  	section#house_intro  {
  		/*position: absolute;*/
  		width: 100%;
  	}

	section#house_intro .inquiry_card_container {
		width: 100%;
		/*margin: 0 auto;*/
	}

  	section#house_intro .card.inquiry_card{
		box-shadow: none;
  		border: 1px solid #cdcdd1;
		border-radius: 1px;
		margin: 0;
		text-align: left;
  	}

 	section#house_intro .inquiry_card .card-content{
 		/*padding: 42px 30px;*/
 		padding: 20px;
  	}


/*	section#house_intro .inquiry_card .logo img {
 		height: 20px;
 	}*/

	section#house_intro .inquiry_card .title_txt {
 		/*font-size: 38px;*/
 		font-size: 21px;
 		font-weight: 600;
 		text-align: center;
 	}

	section#house_intro .inquiry_card .sub_title_txt {
 		font-size: 14px;
 		font-weight: 600;
 		text-align: center;
 	}

	section#house_intro .inquiry_card .addr_rating {
		text-align: center;
		/*display:flex;*/
		/*justify-content: space-between; */
		/*margin-bottom:10px;*/
	}

	section#house_intro .inquiry_card .addr {
		font-size: 11px;
		color: rgb(143, 143, 143);
	}

	.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after, 
	.br-theme-fontawesome-stars-o .br-widget a.br-selected:after 
	{
	  color: #2F6D81;
	}

	section#house_intro .inquiry_card .br-theme-fontawesome-stars-o .br-widget {
		height: auto;
		padding-top: 6px;
	}

	section#house_intro .inquiry_card .br-theme-fontawesome-stars-o .br-widget a,
	section#house_review .br-theme-fontawesome-stars-o .br-widget a
	 {
		font-size: 15px;
	}

	section#house_intro .inquiry_card .divider {
		border-bottom: 1px solid #cdcdd1;
		margin: 6px 0;
 	}

 	section#house_intro .capacity_section {
 		display: flex;
 		font-size: 9px;
 	}

 	section#house_intro .capacity_item {
 		display: flex;
 		flex-direction: column;
 		text-align: center;
 		flex-basis: 20%;
  	}

 	section#house_intro .capacity_section img {
 		height: 16px;
 	}

	section#house_intro .inquiry_card .monthly_rate {
		background-color: #2F6D81;
		color: white;
		padding: 8px;
		margin: 10px 0;
		font-size: 12px;
 	}

	section#house_intro .inquiry_card .form_section .inputs {
		display:flex;

		/*display: flex;*/
		/*flex-direction: column;*/
	}

	section#house_intro .inquiry_card .form_section input {
  		border: 1px solid #cdcdd1;
		border-radius: 1px;
		margin: 2px 0;
		height: 30px;
		font-size: 11px;
		min-width: 1px;	/* for firefox */
		/*margin: 16px 0;*/
	}

	section#house_intro .inquiry_card .calculated_rate {
		font-size: 13px;
	}

	section#house_intro .inquiry_card .form_section button {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		font-size: 12px;
		line-height: 12px;
	}

	section#house_intro .inquiry_card .form_section .input-field {
		width: 100%;
		margin: 0 0 24px;
	}


	.house_container section {
		padding: 30px 0;
		/*font-size: 16px;*/
	}

	.house_container .house_intro_container {
		position: relative;
	}

	.house_container .rest_container {
		font-size: 14px;
		font-weight: 200;
  	}	

  	.house_container .rest_container .title_txt {
  		font-size: 20px;
  		font-weight: 600;
  	}

	.house_container .rest_container .divider {
		border-bottom: 1px solid rgba(0, 0, 0, 0.48); 
		margin: 4px 0 14px;
	}

	section#house_amenities .amenities_container {
		display: flex;
		flex-flow: row wrap;
	}

	section#house_amenities .amenity_item {
		flex-basis: 50%;
		display: flex;
		padding: 10px 0;
	}

	section#house_amenities .amenity_item .img {
		margin-right: 12px;
	}

	section#house_amenities .amenity_item img {
		height: 24px;
		width: 30px;
	}

	section#house_amenities .amenity_item .name {
		line-height: 24px;
	}

	section#price .price_item {
		padding-bottom: 12px;
	}


	section#direction .direction_item {
		margin-bottom: 20px;
	}

   	section#house_review .reviwer {
   		height: 48px;
   		margin-bottom: 10px;
	}

   	section#house_review .rating {
   		display: flex;
   		justify-content: space-between;
   		font-size: 13px;
   		color:rgba(0, 0, 0, 0.48);
	}

	section#house_review .review_item {
		border-bottom: 1px solid #cdcdd1;
		padding: 20px 0;

	}

	section#house_review .chip {
	    background-color: white;
	    font-size: 16px;
	    color: #2F6D81;
   		/*line-height: 48px;*/
   		line-height: 36px;
	}

   	section#house_review .chip >img {
/*	    width: 48px;
	    height: 48px;*/
	    width: 36px;
	    height: 36px;
	}


	section#house_host .host {
		height: 64px;
		margin-bottom: 20px;
	}

	section#house_host .chip {
	    background-color: white;
	    font-size: 18px;
	    color: #2F6D81;
   		/*line-height: 60px;*/
   		line-height:48px;
	}

	section#house_host .chip > img {
/*	    width: 64px;
	    height: 64px;*/
	    width: 48px;
	    height: 48px;
	}

	/* general input css */
	body input[type=text] {
	  background-color: white;
	  border: 1px solid rgb(80, 87, 95);
	  border-radius: 1px;
	  padding: 0 10px;
	  box-sizing: border-box;
	}

	input[type=text]:focus {
		border: 1px solid rgb(80, 87, 95) !important;
		box-shadow: none !important;
	}

  </style>

  <body>
    <!-- navbar -->
    <%- include('navbar') -%>

    <!-- <div class="container nav_container"> -->
    	<!-- breadcrumb -->
    <!-- </div> -->

    <section id="house_pics">
    	<div class="swiper-container">
    		<div class="swiper-wrapper">
    			<% for(var i = 0; i < house_pics_list.length; i++) { %>
    			<div class="swiper-slide" style="background-image:url(<%-house_pics_list[i].image-%>)"></div>
    			<% } %>
    		</div>
    		<!-- pagination -->
    		<div class="swiper-pagination"></div>
    		<!-- arrows -->
    		<div class="swiper-button-next"></div>
    		<div class="swiper-button-prev"></div>
    	</div>
    </section>



    <div class="container house_container">
	<div class="house_intro_container">
	    <section id="house_intro">
		    <div class="inquiry_card_container">
				<div class="card inquiry_card">
		            <div class="card-content">
		            	<div class="name_section">
<!-- 		            		<div class="logo">
					          <img src="/images/logos/villim_logo2_black.png">
		            		</div> -->

							<div class="complex_name sub_title_txt"> <%- house_info.complex_name -%> </div>
							<div class="name title_txt"> <%- house_info.name -%> </div>
		            		<div class="addr_rating">
			            		<div class="addr"> <%-  house_info.addr_summary -%></div>
								 <select class="star_rating overall_rating">
					                <option value="1">1</option>
					                <option value="2">2</option>
					                <option value="3">3</option>
					                <option value="4">4</option>
					                <option value="5">5</option>
					              </select>
							</div>
		            	</div>
        				<div class="divider"></div>
						<div class="capacity_section">
							<div class="capacity_item">
								<div class="capacity_img"><img src="/images/icons/officetel_icon.jpg"></div>
								<div class="capacity_txt"> <%- house_info.house_type -%></div>
							</div>
							<div class="capacity_item">
								<div class="capacity_img"><img src="/images/icons/icon_man.png"></div>
								<div class="capacity_txt">인원 <%- house_info.num_guest -%>명</div>
							</div>
							<div class="capacity_item">
								<div class="capacity_img"><img src="/images/icons/icon_door.png"></div>
								<div class="capacity_txt">침실 <%- house_info.num_bedroom -%>개</div>
							</div>
							<div class="capacity_item">
								<div class="capacity_img"><img src="/images/icons/icon_bed.png"></div>
								<div class="capacity_txt">침대 <%- house_info.num_bed -%>개</div>
							</div>
							<div class="capacity_item">
								<div class="capacity_img"><img src="/images/icons/icon_bath.png"></div>
								<div class="capacity_txt">욕실 <%- house_info.num_bathroom -%>개</div>
							</div>
						</div>
        				<div class="divider"></div>
	            		<div class="monthly_rate"> &#8361; <%- house_info.monthly_rate_format -%> / 월</div>
		            	<div class="form_section">
		            		<!-- <div class="main_txt" style="padding:8px 0">방을 직접 방문하여 둘러보세요. 귀하의 정보를 기입하여 방문 요청해보세요.</div> -->
		    				<form action="/checkout" method="post">
		    				<div class="inputs">
						      <input placeholder="체크인" id="checkin_date_picker" name="checkin" type="text" required disabled>
				   			  <input placeholder="체크아웃" id="checkout_date_picker" name="checkout" type="text" required disabled>
							</div>
		    				<div class="inputs">
  							  <div class="input-field"> 
								  <select id="num_guest" name="num_guest" disabled>
									<option value="" disabled selected> 인원 </option>
									<option value="1"> 1명 </option>
									<option value="2"> 2명 </option>
									<option value="3"> 3명 </option>
									<option value="4"> 4명 </option>
									<option value="5"> 5명 </option>
									<option value="6"> 6명 </option>
								  </select>
							  </div>
							</div>
  					        <input type="hidden" name="house_id" value="<%-house_info.house_id-%>">

    	            		<div class="calculated_rate"></div>
							<div class="button">
								<button id="reserve_btn" class="btn red_btn_color" type="submit" name="action">방문 요청하기</button>
							</div>
							</form>
							<div class="mobile" style="display:none;color:red">*방문요청은 빌림 앱을 이용해주시기 바랍니다.</div>
							<a class="mobile btn red_btn_color" style="display:none" href="#">빌림 앱 다운 받으러가기</a>
		            	</div>
					</div>
				</div>
		    </div>
	  	</section>
  	</div>

  	<div class="rest_container">
		<section id="house_description">
			<div class="title_txt">기본 정보</div>
        	<div class="divider"></div>
        	<div class="description_container">
				<%- house_info.description -%>
         	</div>
		</section>


		<section id="house_amenities">
			<div class="title_txt">편의 및 안전</div>
        	<div class="divider"></div>
        	<div class="amenities_container">
			<% for(var i=0; i< amenities_list.length;i++) { %> 
				<div class="amenity_item">
					<div class="img"><img class="icons" src="<%- amenities_list[i].icon_image -%>"></div>
					<div class="name"><%- amenities_list[i].name -%></div>
				</div>
			<% } %>
        	</div>
		</section>

		<section id="price">
			<div class="title_txt">가격</div>
        	<div class="divider"></div>
        	<div class="price_policy">
        		<div class="price_item">
	        		<div>- 임대료 (일시불 선불)</div>
	        		<div>&#8361; <%- house_info.monthly_rate_format -%> / 월 </div>
        		</div>

        		<div class="price_item">
        			<div>- 공과금 (일시불 선불)</div>
	        		<div>&#8361; <%- house_info.utility_fee_format -%> </div>
        		</div>
        		<div class="price_item">
        			<div>- 퇴실 청소비 (일시불 선불)</div>
	        		<div>&#8361; <%- house_info.cleaning_fee_format -%></div>
        		</div>
        		
        	</div>
		</section>

		<section id="house_policy">
			<div class="title_txt">이용 규칙</div>
        	<div class="divider"></div>
        	<div class="policy_container">
				<%- house_info.house_policy -%>
         	</div>
		</section>

	    <!-- house map -->
<!-- 	    <section id="house_map" class="detail_section" style="width:100% !important">
	    	<div class="title"> 주변 지역 </div>
	    	<div id="map" style="height: 360px; width: 100%; margin: 10px 0">
	    	</div>
	    </section>

 -->
		<section id="direction">
			<div class="title_txt">오시는 길</div>
        	<div class="divider"></div>
        	<div class="direction_item">
				<%- house_info.addr_direction -%>
    			<!-- 지하철: 정자역 분당선 + 신분당선 -->
        	</div>	
		    <div class="map_container">
				<div id="map" style="width: 100%; height: 300px; border: 1px solid rgb(205, 205, 209)"></div>
			</div>
		</section>

		<section id="house_review">
			<div class="title_txt" style="display: flex;">
				<div style="margin-right: 10px">후기 
					<% if (house_info.house_review_count) { %>
					(<%- house_info.house_review_count -%>) 
					<% } %>
				</div>
				 <% if (house_info.house_review_count) { %>	
				 <select class="star_rating overall_rating">
	                <option value="1">1</option>
	                <option value="2">2</option>
	                <option value="3">3</option>
	                <option value="4">4</option>
	                <option value="5">5</option>
	              </select>
	              <% } %>
			</div>
        	<div class="divider"></div>
        	<div class="review_container">
        		<% if (review_list.length > 0) { %>
				<% for(var i=0; i< review_list.length;i++) { %> 
				<div class="review_item">
	        		<div class="reviwer">
		                <div class="chip">
		                    <img src=" <%- review_list[i].profile_pic_url -%>">
			                <span><%- review_list[i].name -%></span>
		                </div>
	        		</div>
	        		<div class="rating">
						  <select class="star_rating" id="reviewer_<%-i-%>">
			                <option value="1">1</option>
			                <option value="2">2</option>
			                <option value="3">3</option>
			                <option value="4">4</option>
			                <option value="5">5</option>
			              </select>
			              <div class="created">
			              	<%- review_list[i].created -%>
			              </div>
		         	</div>
	        		<div class="comment">
	        			<%-review_list[i].comment-%>
	        		</div>
        		</div>
        		<% } } else { %>
        			<div>아직 등록된 후기가 없습니다.</div>
        		<% } %>
         	</div>
		</section>


		<section id="house_host">
			<div class="title_txt">호스트 정보</div>
        	<div class="divider"></div>
        	<div class="host_container">

        		<% if(typeof host_info != 'undefined') { %>
        		<div class="host">
	                <div class="chip">
	                    <img src=" <%- host_info.profile_pic_url -%>">
		                <span><%- host_info.name -%></span>
	                </div>
        		</div>
        		<div class="about">
        			<%- host_info.about -%>
        		</div>
        		<% } %>
         	</div>
		</section>


	    <section id="end_section" style="height: 30px">
	    </section>
    </div>
	</div>
    <!-- footer -->
    <%- include('footer') -%>

	<script>
	$(window).on('load scroll resize', function(e) {
		var currentScroll = $(window).scrollTop() + 100;
		var card_container_top_offset = $('.house_intro_container').offset().top;

		var windowWidth = $(window).width();

		var container_width = $('.house_intro_container').width();

		var card_height = $('section#house_intro').outerHeight();

		var footer_top_offset = $("footer").offset().top;

		var max = $('.house_intro_container').height() - card_height;

		$('#house_intro').css({
			width: container_width,
		});

		if(windowWidth >= 768 && currentScroll >= card_container_top_offset) {
			if(currentScroll + card_height < footer_top_offset) {
				$('#house_intro').css({
					position:'fixed',
					top: 100
				})
			}

			else {
				$('#house_intro').css({
					position:'relative',
					top: max
				})
			}
		}
		else {
			$('#house_intro').css({
				position:'static'
			});
		}
	});

	// convert integer to comma separated (every 1000th) string
	// ex: 19500 --> 19,500 
	function intToStringWithCommas(num) {
		return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}

	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: <%- house_info.latitude -%>, lng: <%- house_info.longitude -%>},
			zoom: 14,
			minZoom: 10,
			maxZoom: 17,
			disableDefaultUI: true
		});

		var home_icon = {
			url: "/images/icons/red_home_icon.png",
			scaledSize: new google.maps.Size(20,20),
	        anchor: new google.maps.Point(10, 12),
		}

		var marker = new google.maps.Marker({
			position:{lat: <%- house_info.latitude -%>, lng: <%- house_info.longitude -%>},
			map:map,
			icon: home_icon
		});

		var circle = new google.maps.Circle({
	        strokeColor: 'white',
	        strokeOpacity: 0.9,
	        strokeWeight: 2,
	        fillColor: 'white',
	        fillOpacity: 0.6,
	        map: map,
	        center: map.center,
	        radius: 200
		});
	}

	$(function() {
	    $('select#num_guest').material_select();

	    // only allow datepicker and select when device is not mobile
	    if(device != "mobile") {
	    	$('input#checkin_date_picker').prop("disabled", false);
	    	$('input#checkout_date_picker').prop("disabled", false);
	    	$('select#num_guest').prop("disabled", false);
		    $('select#num_guest').material_select();

			var checkin = flatpickr("#checkin_date_picker", {
				minDate: new Date(),
				disableMobile: true,
				// mode: "range", 
				// dateFormat: 'U',
				// altInput: true,
				// altFormat: 'Y-m-d',
				allowInput: true,
				onReady: function() {
				},
				onValueUpdate: function(dateObj, dateStr) {
					if(checkout) {
				        checkout.open();
					}
				}
			});

			var checkout = flatpickr("#checkout_date_picker", {
				minDate: new Date(),
				disableMobile: true,
				// dateFormat: 'U',
				// altInput: true,
				// altFormat: 'Y-m-d',
				allowInput: true, 
				onOpen: function() {
					var checkinDate = moment(checkin.input.value);

					var checkout_min = checkinDate.add(1, 'd').format("YYYY-MM-DD");
					this.set("minDate", checkout_min);
				},
				onValueUpdate: function(dateObj, dateStr) {
					// TODO: on input value gone, remove the price div 
					if(checkin.input.value) {
						var checkin_date = moment(checkin.input.value);
						var checkout_date = moment(this.input.value);

						// var checkout_date_sec = dateStr;
						var date_diff = checkout_date.diff(checkin_date, 'days')

						var monthly_rate = "<%- house_info.monthly_rate -%>";
						var utility_fee = "<%- house_info.utility_fee -%>";
						var cleaning_fee = "<%- house_info.cleaning_fee -%>";
						var daily_rate = Math.round(monthly_rate / 30);

						var total_monthly_rate = daily_rate * date_diff; 
						var total_rate = parseInt(total_monthly_rate) + parseInt(utility_fee) + parseInt(cleaning_fee);

						var utility_fee_str = intToStringWithCommas(utility_fee);
						var cleaning_fee_str = intToStringWithCommas(cleaning_fee);
						var total_monthly_rate_str = intToStringWithCommas(total_monthly_rate);
						var total_rate_str = intToStringWithCommas(total_rate);

						$('.calculated_rate').html(
							"<div>임대료: " + "&#8361; " + total_monthly_rate_str +  " (" + date_diff + "일)</div>" +
							"<div>공과금: " + "&#8361; " + utility_fee_str + "</div>" + 
							"<div>퇴실 청소비: " + "&#8361; " + cleaning_fee_str + "</div><br>" + 
							"<div>합계: " + "&#8361; " + total_rate_str + "</div>");
					}
				}
			});
	    }

	    // if device is mobile, show link to download app
	    else {
		    $('#reserve_btn').css({
		    	display: 'none'
		    });
		    $('.mobile').css({
		    	display: 'block',
		    	'font-size': '12px'
		    });
	    }

		var swpier = new Swiper('.swiper-container', {
		  	pagination: '.swiper-pagination',
		  	paginationClickable:true,
		  	loop:true,
		  	// centeredSlides:true,
		  	initialSlide:0,
		  	slidesPerView:1,
		  	// spaceBetween:6,
		  	keyboardControl:true,
		  	nextButton: '.swiper-button-next',
		  	prevButton: '.swiper-button-prev',
	  	// slidesOffsetBefore: 10,
	// 		effect: 'coverflow',
		// coverflow: {
		// 	rotate: 0,
		// 	stretch: 0,
		// 	depth: 500,
		// 	modifier: 1,
		// 	slideShadows : false,
		// }
		});

		var house_rating = "<%- house_info.house_rating -%>";
		$('.overall_rating').barrating({
			theme: 'fontawesome-stars-o',
			initialRating: house_rating,
			readonly: true
		})

		var reviewer_rating_list = <%- JSON.stringify(review_list) -%>;
		for(i in reviewer_rating_list) {
			$('#reviewer_' + i).barrating({
				theme: 'fontawesome-stars-o',
				initialRating: reviewer_rating_list[i].rating_overall,
				readonly: true
			})
		}
	}); 
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIKYpr3qNxWm2lC6VlVhoIFt3r1xy8dns&callback=initMap" async defer>
	</script>
  </body>
</html>