<!DOCTYPE html>
<html>
	<!-- head -->
	<%- include('header') -%>
	<script src="/jquery_validate/jquery.form-validator.min.js"></script>
	<script>

	$(function() {
		$('select').material_select();
	});

	window.onload = function() {

		// $('.select-wrapper').

		// $('input[type=text]').click(function() {
		// 	$('label[for="'+$(this).attr('id')+'"]').removeClass("active");
		// });
		// $('#house_type').on('change', function() {
		// 	$('#house_type').val($('#house_type_select').val());
		// });

		// $('#house_type_input .select-dropdown').attr('name', 'house_type');
		// $("select").className ='';
		// $("select").css({display: 'block', height: 40, width: '100%', borderColor:'black'});



		// $.validator.setDefaults({
		//    ignore: ":hidden:not('select')"
		// });

		// $('#register_form').validate({
		// 	debug:true, 
		// 	rules: {
		// 		house_type: {
		// 			required:true
		// 		},
		// 		monthly_rate: {
		// 			required: true
		// 		},
		// 		utility_fee: {
		// 			required: true
		// 		}
		// 	},
		// 	messages: {
		// 	},
		// 	errorElement : 'div',
		// 	errorClass: 'register_error',
		// 	validClass: 'register_valid'
		// 	// errorPlacement: function(error, element) {
		// 	// 	var placement = $(element).data('error');
		// 	// 	if (placement) {
		// 	// 		$(placement).append(error);
		// 	// 	} 
		// 	// 	else {
		// 	// 		error.insertAfter(element);
		// 	// 	}
		// 	// }
		// });

		$.validate({
			form:'#register_form',
			modules : 'date, security',
			borderColorOnError: 'red'
		});
	}
	</script>

	<style>
/* register css */

	.register_content {
		padding-top: 50px;
		padding-bottom: 80px;
	}

	.register_main_text {
		font-size: 24px;
	}

	.register_sub_text {
		font-size: 20px;
	}

	.register_form_content {
/*		padding-left: 40px !important;
		padding-right: 80px !important;*/
	}

	.register_form_label {
		font-size: 16px;
		font-weight: 900;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	#register_form .input-field {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.register_file_wrapper {
		border: 1px solid black;
		width: 100%;
		height:250px;
		display: inline-flex;
		margin-left: 10px;
		/*text-align: center;*/
		/*padding: 60px;*/
		/*margin: 0 10px 15px;*/
	}

	.register_error {
		color: #FF0000;
	}

	.register_valid {
		color: #26a69a;
	}

	.register_content input {
		padding-left: 5px;
	}

	.register_content input[type=text], .register_content input[type=text]:focus {
	  color: black;    
	  border: 1px solid black;
	  border-radius: 1px;
	  box-shadow: none;
	}
	

/*	.register_content select {
		display: block;
		height: 40px;
		border: 1px solid black;
	}*/


/*	.register_content input[type=text][readonly="readonly"] {
	  color: black;    
	  border: 1px solid rgb(80, 87, 95);
	  border-radius: 1px;
	  box-shadow: none;
	}
*/

	
</style>


<body>
	<!-- TODO: later if this is opened for users, just import original navbar -->
	<div class="navbar-fixed">
	  <nav class="nav_bg_color nav_light_shadow admin_nav">
	    <div class="nav-wrapper">
	        <ul class="nav_text right">
				<li class="nav_txt"><a href="/admin" class="waves-effect"> 어드민 페이지로 돌아가기 </a></li>
			</ul>
	    </div>
	  </nav>
	</div>


   	<div class="container">
    <div class="register_content">
    <div class="row">
   		<div class="col s12 register_form_content">
   			<div class="text_thick register_main_text"> 어드민님 안녕하세요? </div>
			<div class="text_thick register_sub_text"> 회원님의 임대주택 등록을 도와드리겠습니다. </div>
			<div class="text_thick" style="color:red"> * 표시항목은 필수항목입니다. </div>

			<!-- error message here -->
			<br>
			<!-- register form -->
			<form action="register" method="post" id="register_form">
			<div class="row">
				<div class="register_form_label"> 호스트가 될 사람 유저 아이디* </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 3" name="host_id" type="text">
                </div>

				<div class="register_form_label" > 오피스텔/레지던스 이름</div>
                <div class="input-field col s12">
	                <input placeholder="ex) 푸르지오시티 3차" name="complex_name" type="text">
                </div>

				<div class="register_form_label" > 주택명*</div>
                <div class="input-field col s12">
	                <input placeholder="ex) 스튜디오 1" name="name" type="text" data-validation="required" data-validation-error-msg="필수항목 입니다.">
                </div>


				<div class="register_form_label"> 집 종류*</div>
				<div class="input-field col s12"> 
					<select name="house_type" data-validation="required" data-validation-error-msg="필수항목 입니다.">
					<!-- <select name="house_type"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="0"> 일반주택(빌라 포함) </option>
						<option value="1"> 오피스텔 </option>
						<option value="2"> 레지던스 </option>
					</select>
                </div>

				<div class="register_form_label"> 방 종류*</div>
				<div class="input-field col s12"> 
					<select name="room_type" data-validation="required" data-validation-error-msg="필수항목 입니다.">
					<!-- <select name="room_type"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="0"> 원룸 </option>
						<!-- <option value="1"> 투룸 </option> -->
						<!-- <option value="2"> ... </option> -->
					</select>
                </div>



				<div class="register_form_label"> 숙박 가능 인원* </div>
				<div class="input-field col s12"> 
					<select name="num_guest" data-validation="required" data-validation-error-msg="필수항목 입니다."> 
						<!-- <select name="num_guest"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option>
						<option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option>
						<option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option>
						<!-- <option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option> -->
						<!-- <option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option> -->
						<!-- <option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option> -->
					</select>
                </div>


				<div class="register_form_label"> 침실 수* </div>
				<div class="input-field col s12"> 
					<select name="num_bedroom" data-validation="required" data-validation-error-msg="필수항목 입니다."> 
						<!-- <select name="num_bedroom"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option>
						<option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option>
						<option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option>
						<!-- <option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option> -->
						<!-- <option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option> -->
						<!-- <option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option> -->
					</select>
                </div>

				<div class="register_form_label"> 침대 수* </div>
                <div class="input-field col s12"> 
					<select name="num_bed" data-validation="required" data-validation-error-msg="필수항목 입니다.">
						<!-- <select name="num_bed"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option>
						<option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option>
						<option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option>
						<!-- <option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option> -->
						<!-- <option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option> -->
						<!-- <option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option> -->
					</select>
                </div>

				<div class="register_form_label"> 욕실 수* </div>
                <div class="input-field col s12"> 
					<select name="num_bathroom" data-validation="required" data-validation-error-msg="필수항목 입니다.">
					<!-- <select name="num_bathroom"> -->
 						<option value="" disabled selected> 하나를 선택해주세요. </option>
						<option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option>
						<option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option>
						<!-- <option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option> -->
						<!-- <option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option> -->
						<!-- <option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option> -->
						<!-- <option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option> -->
					</select>
                </div>

                <% if(amenities) { %>
				<div class="register_form_label"> 편의시설 </div>
				<div style="width: 100%">
                <% for (var i=0; i<amenities.length; i++) { %>
	                <div class="input-field col s6 m6 l4"> 
						<input type="checkbox" name="amenities<%- i+1 -%>" id="check<%- i+1 -%>" />
	   					<label for="check<%- i+1 -%>"> <%- amenities[i].name -%> </label>
					</div>
				<% } } %>
				</div>


				<!-- <div class="register_form_label"> 위치 </div> -->
<!-- 				<div style="padding-left:10px">
	       			<a href="#" class="btn waves-effect waves-light white nav_btn" style="color:black"> 우편번호 찾기 </a>
            	</div> -->
<!--                 <div class="input-field col s12" style="margin-bottom:0">
	                <input disabled name="zip_code" type="text">
                </div> -->
<!--                 <div class="input-field col s12">
	                <input placeholder="상세주소를 입력해 주세요." name="addr_full" type="text" data-validation="required" data-validation-error-msg="필수항목 입니다.">
                </div>
                <div class="input-field col s12">
	                <input placeholder="짧은 주소: (시 구 동)" name="addr_summary" type="text" data-validation="required" data-validation-error-msg="필수항목 입니다.">
                </div> -->
				<div class="register_form_label"> 주소 (광역시, 도) </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 서울특별시 / 경기도" name="addr_province" type="text">
                </div>

				<div class="register_form_label"> 주소 (시) </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 성남시" name="addr_city" type="text">
                </div>

				<div class="register_form_label"> 주소 (구) </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 강남구 / 분당구" name="addr_district" type="text">
                </div>

				<div class="register_form_label"> 주소 (동,읍,면) </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 정자동" name="addr_dong" type="text">
                </div>

				<div class="register_form_label"> 주소 (도로명) </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 서초대로73길 62" name="addr_road" type="text">
                </div>

				<div class="register_form_label"> 오시는 길 </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 정자역에서 5분거리" name="addr_direction" type="text">
                </div>


				<div class="register_form_label"> 집 상세 설명 </div>
                <div class="input-field col s12">
	                <input placeholder="ex) 럭셔리 1인실입니다." name="description" type="text">
                </div>

<!-- 				<div class="register_form_label"> 사진 </div>
				<div class="register_file_wrapper">
					<div class="file-field input-field" style="margin: auto">
						<div class="btn waves-effect waves-light red accent-2" style="display:block">
							<span>사진 업로드 </span>
							<input type="file" name="main_image">
						</div> -->
<!-- 						<div class="file-path-wrapper">
							<input disabled class="file-path validate" type="text">
						</div> -->
					<!-- </div>
				</div> -->


				<div class="register_form_label"> 희망 월세 가격 (&#8361;)*</div> 
                <div class="input-field col s12">
	                <input placeholder="예) 1500000 " name="monthly_rate" type="text" data-validation="required" data-validation-error-msg="필수항목 입니다.">
                </div>

				<div class="register_form_label" style="padding-top: 30px; inline-block"> 보증금 (&#8361;)</div> 
                <div class="input-field col s12">
	                <input placeholder="예) 300000 " name="deposit" type="text">
                </div>

				<div class="register_form_label" style="padding-top: 30px; inline-block"> 청소비 (&#8361;)</div> 
                <div class="input-field col s12">
	                <input placeholder="예) 30000 " name="cleaning_fee" type="text">
                </div>

				<div class="register_form_label" style="padding-top: 30px; inline-block"> 공과금/관리비 (&#8361;)</div> 
                <div class="input-field col s12">
	                <input placeholder="예) 30000 " name="utility_fee" type="text">
                </div>                

				<div class="register_form_label" style="padding-top: 30px; inline-block"> 숙소 이용 규칙 </div> 
                <div class="input-field col s12">
	                <input placeholder="예) 실내 흡연금지." name="house_policy" type="text">
                </div>                



                <div class="col s12" style="margin-bottom: 20px">
                  *Villim은 임차인들에게 적합한 주거환경을 제공하기 위해 입력하신 정보 및 주택 사전조사를 통하여 검토를 실시합니다.
                </div>
                <div class="col s12" style="margin-bottom: 20px">
                  **신청 된 주거지는 임대인 동의하에 Villim 기사가 직접 해당 주택을 방문하여 사진 촬영 및 Villim 스마트 도어락 설치가 됩니다.
                </div>

            </div>
            <div class="center-align">
                <button type="submit" class="btn waves-effect waves-light card_btn red accent-2" style="text-align:left">등록 신청 </button>
            </div>
        	</form>
   		</div> 

    </div>
   	</div>
   	</div>

</body>
</html>