<!DOCTYPE html>
<html>
  <%- include('header') -%>

  <style>
  	.container.nav_container.search_container {
  		margin-right: 0;
  		width: 92%;
  	}

  	#search_wrapper {
  		/*width: 100%;*/
  		display: flex;
  	}

  	#search_wrapper .complex_list_container {
  		/*flex-grow: 1;*/
  		width: 55%;
  	}

  	#search_wrapper .map_container {
  		/*flex-grow: 1;*/
  		width: 45%;
  	}

	#search_wrapper .complex_txt {
		font-size: 16px;
  		background-color: rgba(0,0,0,0.05);
  		padding: 16px;
	}

  	#search_wrapper .dong_list {
  		margin: 30px 30px 30px 0;
  	}

  	#search_wrapper .complex_card {
  		box-shadow: none;
  		background-color: rgba(0,0,0,0.05);
  		margin: 30px 0;
  	}

 	#search_wrapper .complex_card .card-content {
 		/*height: 330px*/
 	}

  	#search_wrapper .complex_card .card-image {
  		min-height: 246px;
  		background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
  	}

 	#search_wrapper .complex_card .logo img {
 		height: 20px;
 	}

 	#search_wrapper .complex_card .title_txt {
 		font-size: 32px;
 	}

 	#search_wrapper .complex_card .monthly_rate {
		font-size: 17px;
 	}

 	#search_wrapper .complex_card .btn {
 		width: 100%;
 		height: 46px;
 		line-height: 46px;
 		margin-top: 36px;
 		font-size: 16px;
 	}

  </style>

  <body>
    <!-- navbar -->
    <%- include('navbar') -%>

<div class="container nav_container search_container">
	<div id="search_wrapper">
	    <div class="complex_list_container">
		    <%- include('breadcrumbs') -%>

		    <div class="complex_txt">
		    	<%- dong -%> 인근 단지
		    </div>
		    <div class="dong_list">
            <% for (i in complex_list) { %>
				<div class="card complex_card">
		            <div class="card-image" style="background-image: url(<%- complex_list[i].main_image -%>)">
		            </div>
		            <div class="card-content">
		            	<div class="name_section">
		            		<div class="logo">
					          <img src="/images/logos/villim_logo2_black.png">
		            		</div>
		            		<div class="title_txt text_thick"> <%- complex_list[i].addr_complex -%></div>
		            		<div class="main_txt"> <%- addr -%></div>
		            	</div>
		            	<div style="padding: 14px 0"><hr></div>
		            	<div class="price_section" style="text-align:right">
		            		<div class="monthly_rate"> &#8361; <%- complex_list[i].monthly_rate -%> / 월 부터</div>
		            		<div class="main_txt">타입별 비용 변동</div>
		            	</div>
	            		<a href="/s/<%- dong -%>/<%- complex_list[i].addr_complex -%>" class="btn teal_btn_color waves-effect waves-light">이 지점 둘러보기</a>
		            </div>
				</div>
			<% } %>
			</div>
	    </div>
	    <div class="map_container">
	    	<!-- <div class="inner"> -->
	    		<!-- <div style="height:100%"></div> -->
				<div id="map" style="height: 100%; width: 100%; border: 1px solid rgb(205, 205, 209)"></div>
			<!-- </div> -->
		</div>
	</div>
</div>    
	<!-- footer -->
	<%- include('footer') -%>

<script>
</script>

<script>
var map;
var geocoder;
var home_icon;
var markersArray = [];

function initMap() {

  map = new google.maps.Map(document.getElementById('map'), {
	center: {lat: <%- complex_list[0].latitude -%>, lng: <%- complex_list[0].longitude -%>},
	zoom: 14,
    minZoom: 10,
    maxZoom: 16,
    // disableDefaultUI: true
  });

  geocoder = new google.maps.Geocoder();
  var dong_addr = "<%- dong -%>"
  console.log(dong_addr);

  geocoder.geocode({'address': dong_addr}, function(results, status) {
 	if (status == 'OK') {
		map.setCenter(results[0].geometry.location);
	}
  });
 
  home_icon = {
    url: "/images/icons/red_home_icon.png",
    scaledSize: new google.maps.Size(30,30),
    anchor: new google.maps.Point(10, 12),
  }

	google.maps.event.addDomListener(window, "load", function() {
		var center = map.getCenter();
		google.maps.event.trigger(map, "resize");
		map.setCenter(center); 
	});

	google.maps.event.addDomListener(window, "resize", function() {
		var center = map.getCenter();
		google.maps.event.trigger(map, "resize");
		map.setCenter(center); 
	});

	google.maps.event.addDomListener(window, "scroll", function() {
		var center = map.getCenter();
		google.maps.event.trigger(map, "resize");
		map.setCenter(center); 
	});
}


$(window).on('load', function(e) {
	var complex_list = <%- JSON.stringify(complex_list) -%>;
    // map.setCenter({lat: complex_list[0].latitude, lng: complex_list[0].longitude});
  
    for(i in complex_list) {
	    var marker = new google.maps.Marker({
	      map:map,
	      icon: home_icon,
	      position: {lat: complex_list[i].latitude , lng: complex_list[i].longitude}
	    });
	    markersArray.push(marker);
    }
});



$(window).on('load scroll resize', function(e) {

	var windowHeight = $(window).height();
	//scroll ptr based on bottom of window
	var currentScroll = $(window).scrollTop() + windowHeight;

	$('#map').height(windowHeight - 100);

	$('#map').css({
		position: 'fixed',
		top:'100px',
		right:0,
		'z-index': '1',
		width: $(".map_container").width(),
	});

	var footer_top_offset = $("footer").offset().top;

	// if currentscroll reaches at the top of footer, shorten the height accordingly
	if(currentScroll >= footer_top_offset - 30) {
		var map_bottom_offset = currentScroll - footer_top_offset + 30;
		$('#map').height($('#map').height() - map_bottom_offset);
	}
});


$(function() {

	// $('.complex_card button').on('click', function() {

	// 	$('.btn_div a').attr('href', '/s/' + selected_val);
	// });

});
</script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIKYpr3qNxWm2lC6VlVhoIFt3r1xy8dns&callback=initMap" async defer>
  </script>

  </body>
</html>